@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", "system-ui";
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui";
  }
}

.main {
  display: flex;
  gap: 24px;
}

.main span {
  font-size: 12px;
  color: #aaaaaa;
}

.ss02 {
  font-feature-settings: "ss02" on;
}